body {
    background-color: #212932;
}

header {
    background-color: #474C52;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5 px;
}

.rodape {
    background-color: #212932;
}

a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

h3 {
    padding: 20px;
    background-color: #fdb722;
}

h4 {
    text-align: center;
    color: #474C52;
}

.texto_header {
    font-size: 40px;
    margin: 10px
}

.foto_header {
    margin: 10px;
    height: 100px;
}

.capa {
    text-align: center;
    padding: 40;
}

.botão {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botão-login {
    display: flex;
    justify-content: center;
}

.txt_botão {
    text-decoration: none;
    color: #212932;
}

.rodape {
    background-color: black;
    padding: 20px;
}

.Cxcadastro {
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
}

.cadastroPF{
    justify-content: center;
    background-color: #d3d3d3;

}

.dados{
    text-align: center;
    justify-content: center;
}

.list{
    display: flex ;
    justify-content:space-between;
    padding: 50px;
    
}

.produto{
    background-color: rgb(43, 43, 43);
    padding: 50px;
}